<h2 mat-dialog-title>Create New</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput
           placeholder="Add name (string, no validation)"
           formControlName="name"
           type="text">
  </mat-form-field>
  <mat-form-field>
    <input matInput
           placeholder="Metric 1 (number, no validation)"
           formControlName="metric1"
           type="number">
  </mat-form-field>
  <mat-form-field>
    <input matInput
           placeholder="Metric 2 (number, no validation)"
           formControlName="metric2"
           type="number">
  </mat-form-field>
  <mat-form-field>
    <input matInput
           placeholder="Metric 3 (number, no validation)"
           formControlName="metric3"
           type="number">
  </mat-form-field>
  <mat-form-field>
    <input matInput
           placeholder="Metric 4 (number, no validation)"
           formControlName="metric4"
           type="number">
  </mat-form-field>
  <mat-form-field>
    <input matInput
           placeholder="Action (boolean, no validation)"
           formControlName="action"
           type="text">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
