::ng-deep .audio-serve-dashboard {
  width: 100%;
  height: 100%;
  background: #F9FBFC;

  .main-toolbar {
    display: flex;
    background: #631DFF;

    .main-toolbar_logo {
      width: 15%;
      color: #FFFFFF;
      padding: 30px;
      font-size: 30px;
      text-align: left;

      span {
        font-weight: bold;
      }
    }

    .main-toolbar_tabs {
      width: 65%;

      mat-tab-group {
        .mat-tab-label {
          height: 100px;
          color: #BFA2FF;
          font-size: 24px;
          text-align: left;
          font-weight: bold;
        }

        .mat-tab-label.mat-tab-label-active {
          color: #FFFFFF;
        }

        .mat-ink-bar {
          background-color: #FFFFFF;
        }
      }
    }

    .main-toolbar_search {
      display: flex;
      align-items: center;
      width: 10%;

      .mat-form-field {
        width: 150px;

        .mat-input-element {
          color: #CBB8F7;
        }

        .mat-form-field-label {
          color: #CBB8F7;
        }

        .mat-form-field-underline {
          background-color: #CBB8F7;
        }

        .mat-form-field-ripple {
          background-color: #CBB8F7;
        }

        mat-icon {
          color: #FFFFFF;
          position: relative;
          top: 5px;
          margin-right: 20px;
        }
      }
    }

    .main-toolbar_user {
      width: 10%;
      display: flex;
      padding: 20px;

      .user-img {
        display: flex;
        align-items: center;
        padding-right: 10px;

        img {
          width: 46px;
          height: 46px;
          border-radius: 50%;
        }
      }

      .user-details {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .user-details_name {
          font-size: 18px;
          color: #FFFFFF;
          text-align: left;
        }

        .user-details_job {
          font-size: 16px;
          color: #CBB8F7;
          text-align: left;
        }
      }
    }
  }

  .second-toolbar {
    box-shadow: 0 5px 6px #0000000F;
    display: flex;

    mat-tab-group {
      align-items: center;
      width: 100%;

      .mat-tab-label {
        height: 80px;
        color: #65669580;
        font-size: 16px;
        text-align: left;
      }

      .mat-tab-label.mat-tab-label-active {
        color: #646698;
      }

      .mat-ink-bar {
        background-color: #631DFF;
      }
    }
  }

  .main-page {
    display: flex;
    margin: 80px 40px;
    flex-direction: column;

    .main-page_details {
      display: flex;
      flex-direction: row;
      width: 100%;

      .notifications {
        display: flex;
        flex-direction: column;
        width: 50%;

        .notifications-title {
          font-size: 24px;
          text-align: left;
          color: #646698;
        }

        .notifications-message {
          font-size: 14px;
          color: #8898B0;
          text-align: left;

          a {
            color: #466AFC;
            text-decoration: underline;
          }
        }
      }

      .actions {
        width: 50%;
        display: flex;
        justify-content: flex-end;

        .actions-filter {
          mat-form-field {
            color: #646698;
            width: 150px;
            height: 50px;
            padding: 0;
            font-size: 12px;
          }

          mat-icon {
            color: #646698;
            font-size: 22px;
            position: relative;
            top: 3px;
            margin-right: 5px;
          }
        }

        .actions-date {
          padding: 0 0 0 8px;

          button {
            color: #646698;
            width: 115px;
            height: 50px;
            padding: 0;
            border: 1px solid #DBE0EB;
            font-size: 12px;
          }

          mat-icon {
            color: #646698;
          }
        }

        .actions-search {
          padding: 0 0 0 8px;

          button {
            color: #DCE3ED;
            width: 190px;
            height: 50px;
            text-align: left;
            padding: 0 0 0 8px;
            border: 1px solid #DBE0EB;
            font-size: 12px;
          }

          mat-icon {
            color: #646698;
          }
        }

        .actions-create {
          padding: 0 0 0 8px;

          button {
            color: #FFFFFF;
            background: #4DDE76;
            width: 140px;
            height: 50px;
            padding: 0;
            border: 1px solid #37BA5C;
            font-size: 16px;
          }

          mat-icon {
            color: #FFFFFF;
          }
        }
      }
    }

    .main-page_table {
      display: flex;
      margin-top: 80px;

      .mat-elevation-z8 {
        width: 100%;

        table {
          width: 100%;
        }
      }
    }
  }
}
